In [1]:
import pandas as pd

df = pd.read_csv("globalAirQuality.csv")

print(df.describe())

                    timestamp country      city  latitude  longitude    pm25  \
0  2025-11-04 18:25:17.554219      US  New York    40.713    -74.006  50.295
1  2025-11-04 19:25:17.554219      US  New York    40.713    -74.006  32.083
2  2025-11-04 20:25:17.554219      US  New York    40.713    -74.006  42.250
3  2025-11-04 21:25:17.554219      US  New York    40.713    -74.006  30.403
4  2025-11-04 22:25:17.554219      US  New York    40.713    -74.006  21.083

      pm10     no2    so2      o3     co  aqi  temperature  humidity  \
0  108.938  27.998  6.539  52.568  1.096  108       18.504    70.168
1   63.043  36.120  4.021  43.536  1.075   90        5.838    80.088
2   82.553  26.935  9.538  23.320  0.977   84       31.833    62.783
3   79.951  63.536  7.609  31.369  0.230  158       23.140    89.153
4   66.423  38.997  6.919  45.615  1.085   97       13.632    76.499

   wind_speed
0       3.725
1       8.969
2       9.650
3       8.956
4       4.017
           latitude     longitude          pm25          pm10           no2  \
count  18000.000000  18000.000000  18000.000000  18000.000000  18000.000000
mean      23.065980     37.655560     40.369131     70.152228     32.055176
std       26.156536     78.600701     17.647450     24.999440     13.820680
min      -37.814000   -123.121000      0.025000      0.061000      0.013000
25%       12.972000      2.352000     27.904500     53.125500     22.362500
50%       29.232000     42.146000     40.286500     69.961000     32.019500
75%       41.008000    103.820000     52.436250     87.256500     41.364250
max       60.170000    174.763000    115.683000    161.810000     90.019000

                so2            o3            co           aqi   temperature  \
count  18000.000000  18000.000000  18000.000000  18000.000000  18000.000000
mean       6.035508     48.065100      0.800595    104.645556     21.510251
std        2.454790     14.950849      0.250254     25.616070      9.509444
min        0.003000      0.114000      0.000000     16.000000      5.000000
25%        4.360750     38.028500      0.633000     87.000000     13.357750
50%        6.026000     48.142000      0.800500    103.000000     21.455500
75%        7.715250     58.258500      0.969000    121.000000     29.688250
max       16.559000    103.016000      1.832000    231.000000     37.998000

           humidity    wind_speed
count  18000.000000  18000.000000
mean      57.714351      5.283910
std       18.844908      2.741712
min       25.002000      0.500000
25%       41.320000      2.937000
50%       57.847000      5.297000
75%       74.234750      7.662000
max       89.997000      9.999000

In [9]:

df[["city","aqi"]]
#select rows label and for that loc &Ioc
df.loc[0]
df.loc[0:2]#loc sathe 2 index no data print thase
df.iloc[2]
df.iloc[0:3]
#cells -row and colouma axis but how and albel wher eaxes foer rwa and coloum adn efo rht

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969

In [10]:
# Select a single column (returns a Series)
df["city"]

# Select multiple columns (returns a DataFrame)
df[["city", "aqi"]]

# Select row with label/index = 2 (using label-based indexing)
df.loc[2]

# Select rows from label/index 0 to 2 (2 is INCLUDED in loc)
df.loc[0:2]

# Select row at position 2 (using position-based indexing)
df.iloc[2]

# Select rows from position 0 to 2 (2 is EXCLUDED in iloc)
df.iloc[0:2]
#cell-row,col
df.loc[0:2,"city","aqi"]
df.columns

df.loc[0:2,"city"]
df.at[0,"city"]
df.iat[0,2]
df["city"]
cities=df["city".copy()]
cities[0]="Mumbai"#copyb

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969